.main-chat
  .main-header
    .main-header__group-list
      test
      %ul.main-header__member-list
        Member :
        %li.main-header__member-name 
          ABC
    = link_to "#", class: "main-chat__edit-btn" do
      Edit
  
  .main-contents
    .message-group
      .message-group__message-contents
        .message-group__message-contents--message
          ABC
        .message-group__message-contents--message-date
          2020年06月24日 18時00分
      .message-group__message-detail
        ABC
      .message-group__message-contents
        .message-group__message-contents--message
          ABC
        .message-group__message-contents--message-date
          2020年06月24日 18時00分
      .message-group__message-detail
        ABC  
  
  .main-footer
    %form.form-groups
      .input-form
        %input{ type: "text", class: "input-form__text", placeholder: "type a message" }
        %label{ class: "input-form__image" }
          = icon("fas", "image")
          %input{ type: "file", class: "input-form__image__file" }
      %input{ type:"submit", class: "form-groups__send-btn", value: "Send" }
          



