.main-chat
  .main-chat__group-info
    .main-chat__group-list
      test
      %ul.main-chat__member-list
        Member :
        %li.main-chat__member-name 
          ã‚
    = link_to "#", class: "edit-btn" do
      Edit
  .main-chat__message-list
  .main-chat__message-form



